{% extends "prototype/navbar.html" %} {% load static %} {% block body %}
    <h1>Welcome to your dashboard, {{request.user.first_name}}</h1>
    {% if request.user.user_type == 'ME' %}
    <div>Your recommended mentors</div>
    {% for mentor in mentors %}
    <div> {{mentor}} </div>
    {% endfor %}
    <br>
    <div>Your questions</div>
    {% for question in questions %}
    <div> {{question.title}} - {{question.is_answered}} </div>
    {% endfor %}
    {% else %}
    <div>Your notifications</div>
    <div id="notifications"></div>
    {% endif %}
{% endblock %}

{% block script %}
    {{data|json_script:"questions"}}
    <script type="text/babel" src="{% static 'prototype/questions.js' %}" ></script>
{% endblock %}